$main-color: #fc4c4c;
$main-hover-color: #fa3734;
$secondray-color: #303443;
$darker-secondray-color: #1e2332;
$third-color: #fff;
$text-color: #687693;
$graybg: #fafafa;
$letter-spacing: 1px;
$text-letter-spacing: 0.6px;
$transition: all 0.3s linear;
$line-height: 30px;
$sec-padding: 60px 0;
$border: 1px solid #8b8b8b;
$box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
  rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
$btn-box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
  rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
$wraper-gap: 1.5rem;
