@use "../../sass/Helpers/Variables" as *;

.wishList {
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  bottom: -100%;

  width: 100%;
  height: 100%;
  color: $secondray-color;
  transition: $transition;
  z-index: 500;
  box-shadow: $box-shadow;
  @media (min-width: 576px) {
    width: 330px;
    bottom: auto;
    right: -100%;
  }
  &.open {
    opacity: 1;
    bottom: 0;
    visibility: visible;
    @media (min-width: 576px) {
      right: 0;
    }
  }
  header {
    .heading {
      font-size: 22px;
      font-weight: 700;
      flex: 1;
      text-align: center;
    }
    .icon {
      color: $main-color;
    }
  }
  .items {
    overflow-y: auto;

    .box {
      .content {
        flex: 1;
        .img-container {
          img {
            width: 100px;
            aspect-ratio: 1/0.5;
            object-fit: cover;
          }
        }
        .title {
          font-size: 20px;
          font-weight: 500;
        }
      }
      .close {
        transition: 0.3s all linear;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}
