@use "../../Sass/Helpers/Variables" as *;

.mobileFiltersModel {
  height: 100%;
  @media (min-width: 576px) {
    height: 350px;
  }
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: $box-shadow;
  @media (min-width: 576px) {
    width: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
  @media (min-width: 700px) {
    width: 600px;
  }
  background-color: #fff;
  header {
    z-index: 2;
    background-color: #fff;
  }
  .content {
    overflow-y: auto;
    height: 100%;

    header {
      .title {
        font-size: 17px;
        font-weight: 700;
      }
    }
  }
}
